* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Lato', sans-serif;
}

#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url("images/2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;

}

.h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    color: #9a031e;
}

.container {
    width: 100%;
}

.box {
    max-width: 350px;
    padding: 10px;
    border: 3px solid chocolate;
    margin: 10px auto;
}

.box img {
    max-width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    padding: 5px;

}

.box .heading,
.box .text {
    width: 100%;
    padding: 0 5px;
    min-width: 300px;

}

h2,
h4 {
    text-transform: uppercase;
}

p {
    margin: 10px 0;
}

a {
    display: inline-block;
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

@media (min-width: 700px) {
    .container-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        max-width: 700px;
    }

    .box img {
        float: left;
    }

    .box .heading,
    .box .text {
        float: right;
        width: 50%;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-footer {
    background-color: #e5eafe;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #060606;
    box-shadow: 0 10px 20px rgba(4, 4, 4, 0.5);
}

.site-footer hr {
    border-top-color: rgb(2, 2, 2);
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: rgb(6, 6, 6);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #060606;
}

.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #040404;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: rgb(35, 16, 245);
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.logo {
    color: #eb6857;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}